.vscode/**
.vscode-test/**
.codegraph/**
.test-dist/**
.local-build/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
.github/**
ARCHITECTURE.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
